{
  "openapi": "3.0.0",
  "info": {
    "title": "Palace Internal API",
    "version": "1.0.0",
    "description": "Titan, Bungees, AudioServer, Core"
  },
  "servers": [
    {
      "url": "https://internal-api.palace.network"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "description": "Login user to application",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "description": "login body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSchema"
              },
              "example": {
                "username": "Legobuilder0813",
                "password": "S3cureP@ssw0rd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "user successfuly logged in",
            "headers": {
              "Authorization": {
                "schema": {
                  "type": "string"
                },
                "description": "JWT token"
              }
            },
            "content": {
              "appication/json": {
                "example": {
                  "message": "Login Success!"
                }
              }
            }
          },
          "401": {
            "description": "Not logged in, invalid credentials",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid credentials"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "description": "Logout from application",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "logout body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSchema"
              },
              "example": {
                "uuid": "9ab3b4c4-71d8-47c9-9e7d-adf040c53d2b"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "user successfuly logged out",
            "content": {
              "appication/json": {
                "example": {
                  "message": "Logout Success!"
                }
              }
            }
          },
          "401": {
            "description": "Not logged out, invalid credentials",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid credentials"
                }
              }
            }
          }
        }
      }
    },
    "/auth/user": {
      "get": {
        "description": "Get authenticated user",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "return authenticated user",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "user": {
                    "uuid": "9ab3b4c4-71d8-47c9-9e7d-adf040c53d2b",
                    "username": "Legobuilder0813",
                    "rank": "director",
                    "rank_tags": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{uuid}": {
      "get": {
        "description": "Get user by UUID",
        "tags": [
          "users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "description": "the user's UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "return user by UUID",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UserSchema"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserSchema": {
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "uuid": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "tokens": {
            "type": "array"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "Error description",
            "example": "Unknown player UUID"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": []
}